@model ForgotPasswordViewModel 
@{
    ViewData["Title"] = "ForgotPassword";
}

<!--Bredcrum start-->
<section class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="breadcrumb-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h2>Forget Password</h2>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <nav class="theme-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a asp-controller="Home" asp-action="Index">Home </a>
                                    </li>
                                    <li class="breadcrumb-item active">Forget Password</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Bredcrumb end-->
<!--Forgot-Pass start-->
<section class="forgot-pass">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forget Your Password</h2>
                <form method="post" class="theme-form ng-untouched ng-pristine ng-valid">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input asp-for="Email" placeholder="Enter Your Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-solid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Forgot-Pass end-->
