@media screen and (max-width: 1025px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 3% !important;
      left: 6% !important;
      width: 34px;
      height: 32px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 769px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 3% !important;
      left: 6%;
      width: 34px;
      height: 32px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 576px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 8% !important;
      left: 6%;
      width: 34px;
      height: 32px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 541px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 5% !important;
      left: 6%;
      width: 34px;
      height: 32px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 415px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 5% !important;
      left: 6%;
      width: 34px;
      height: 32px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 412px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 5% !important;
      left: 6%;
      width: 34px;
      height: 32px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 376px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 4% !important;
      left: 6%;
      width: 34px;
      height: 32px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 361px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 5% !important;
      left: 6%;
      width: 34px;
      height: 32px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 321px) {
  .sticky {
    .top-header {
      display: none;
    }
    .main-menu {
      justify-content: center !important;
      .menu-left {
        .brand-logo {
          padding-top: 0 !important;
        }
      }
      .menu-right {
        .icon-nav {
          .fa-shopping-bag {
            font-size: 24px !important;
          }
          .fa-search {
            display: none !important;
          }
          .fa-cog {
            display: none !important;
          }
        }
      }
    }
    .toggle {
      position: fixed;
      z-index: 5;
      top: 4% !important;
      left: 6%;
      width: 34px !important;
      height: 32px !important;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 1199px) {
  .top-header {
    .text-right {
      .header-dropdown {
        display: flex !important;
        justify-content: flex-end !important;
      }
    }
  }
  .main-menu {
    justify-content: center !important;
    .menu-left {
      .brand-logo {
        padding-top: 0 !important;
      }
    }
    .menu-right {
      .main-navbar {
        .nav-menu {
          display: none !important;
        }
      }
      .icon-nav {
        ul {
          content: "";
          position: absolute;
          right: 16% !important;
        }
      }
    }
  }
  .toggle {
    position: absolute;
    z-index: 5;
    top: 20% !important;
    left: 14% !important;
    width: 34px;
    height: 32px;
    cursor: pointer;
  }
}
@media screen and (max-width: 1025px) {
  .top-header {
    .text-right {
      .header-dropdown {
        display: flex !important;
        justify-content: center !important;
      }
    }
    .header-contact {
      display: none !important;
    }
  }
  .main-menu {
    justify-content: center !important;
    .menu-left {
      .brand-logo {
        padding-top: 0 !important;
      }
    }
    .menu-right {
      .nav-menu {
        display: none !important;
      }
      .icon-nav {
        ul {
          content: "";
          position: absolute;
          right: 8% !important;
        }
      }
    }
  }
}
@media screen and (max-width: 989px) {
  .top-header {
    .text-right {
      .header-dropdown {
        display: flex !important;
        justify-content: center !important;
      }
    }
    .header-contact {
      display: none !important;
    }
  }
  .main-menu {
    justify-content: center !important;
    .menu-left {
      .brand-logo {
        padding-top: 0 !important;
      }
    }
    .menu-right {
      .nav-menu {
        display: none !important;
      }
      .icon-nav {
        ul {
          content: "";
          position: absolute;
          right: 8%;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .home-slider {
    .slider-item {
      .slider-item-caption {
        h4 {
          top: 26%;
          left: 21% !important;
          font-size: 15px !important;
        }
        h1 {
          font-size: 50px !important;
        }
        .btn-solid {
          top: 51%;
          left: 27% !important;
          font-size: 10px !important;
          line-height: 15px !important;
          font-size: 10px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 831px) {
  .home-slider {
    .slider-item {
      .slider-item-caption {
        h4 {
          top: 26%;
          left: 18% !important;
          font-size: 12px !important;
        }
        h1 {
          top: 34%;
          left: 10% !important;
          font-size: 40px !important;
        }
        .btn-solid {
          top: 54% !important;
          left: 27% !important;
          font-size: 10px !important;
          padding: 6px 16px !important;
          font-size: 7px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 658px) {
  .home-slider {
    .slider-item {
      .slider-item-caption {
        h4 {
          font-size: 9px !important;
        }
        h1 {
          font-size: 28px !important;
        }
        .btn-solid {
          top: 51%;
          left: 26% !important;
          font-size: 7px !important;
          padding: 5px 14px !important;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 14% !important;
        left: 3% !important;
        font-size: 70px !important;
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-next {
        position: absolute;
        top: 14% !important;
        right: 3% !important;
      }
      font-size: 70px !important;
    }
  }
}
@media screen and (max-width: 495px) {
  .home-slider {
    .slider-item {
      .slider-item-caption {
        h4 {
          top: 26%;
          left: 18% !important;
          font-size: 6px !important;
        }
        h1 {
          top: 34%;
          left: 10% !important;
          font-size: 20px !important;
        }
        .btn-solid {
          top: 54% !important;
          left: 24% !important;
          font-size: 5px !important;
          padding: 0px 6px !important;
          line-height: 17px !important;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 12% !important;
        left: 3% !important;
        font-size: 60px !important;
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-next {
        position: absolute;
        top: 10% !important;
        right: 3% !important;
      }
      font-size: 60px !important;
    }
  }
}
@media screen and (max-width: 320px) {
  .home-slider {
    .slider-item {
      .slider-item-caption {
        h4 {
          position: absolute;
          font-weight: 700;
          letter-spacing: 0.4em;
          color: #777;
          margin-bottom: 0;
          margin-top: -3px;
          top: 26%;
          left: 23% !important;
          font-size: 4px !important;
          text-transform: capitalize;
          line-height: 1;
        }
        h1 {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 34%;
          left: 12%;
          font-size: 15px !important;
          text-transform: uppercase;
          line-height: 1;
        }
        .btn-solid {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 54% !important;
          left: 26% !important;
          text-transform: uppercase;
          line-height: 1;
          cursor: pointer;
          font-size: 5px !important;
          padding: 0px 6px !important;
          color: #fff;
          letter-spacing: 0.05em;
          border: 2px solid #ff4c3b;
          background-color: #ff4c3b;
          background-size: 850px;
          background-repeat: no-repeat;
          background-position: 0;
          transition: background 0.3s ease-in-out;
          line-height: 10px !important;
          text-transform: uppercase;
          font-weight: 700;
          border-radius: 0;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 12% !important;
        left: 3% !important;
        font-size: 60px !important;
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-next {
        position: absolute;
        top: 10% !important;
        right: 3% !important;
      }
      font-size: 60px !important;
    }
  }
}
@media screen and (max-width: 1024px) {
  .home-slider {
    .item {
      .item-caption-second {
        h4 {
          position: absolute;
          font-weight: 700;
          letter-spacing: 0.4em;
          color: #777;
          margin-bottom: 0;
          margin-top: -3px;
          top: 26%;
          left: 21% !important;
          font-size: 15px !important;
          text-transform: capitalize;
          line-height: 1;
        }
        h1 {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 34%;
          left: 12%;
          font-size: 50px !important;
          text-transform: uppercase;
          line-height: 1;
        }
        .btn-solid {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 51%;
          left: 21% !important;
          text-transform: uppercase;
          line-height: 1;
          cursor: pointer;
          font-size: 10px !important;
          padding: 13px 29px;
          color: #fff;
          letter-spacing: 0.05em;
          border: 2px solid #ff4c3b;
          background-color: #ff4c3b;
          background-size: 850px;
          background-repeat: no-repeat;
          background-position: 0;
          transition: background 0.3s ease-in-out;
          line-height: 12px !important;
          text-transform: uppercase;
          font-size: 10px !important;
          font-weight: 700;
          border-radius: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 831px) {
  .home-slider {
    .item {
      .item-caption-second {
        h4 {
          position: absolute;
          font-weight: 700;
          letter-spacing: 0.4em;
          color: #777;
          margin-bottom: 0;
          margin-top: -3px;
          top: 26%;
          left: 14%;
          font-size: 12px !important;
          text-transform: capitalize;
          line-height: 1;
        }
        h1 {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 34%;
          left: 12%;
          font-size: 40px !important;
          text-transform: uppercase;
          line-height: 1;
        }
        .btn-solid {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 54% !important;
          left: 23% !important;
          text-transform: uppercase;
          line-height: 1;
          cursor: pointer;
          font-size: 10px !important;
          padding: 6px 16px !important;
          color: #fff;
          letter-spacing: 0.05em;
          border: 2px solid #ff4c3b;
          background-color: #ff4c3b;
          background-size: 850px;
          background-repeat: no-repeat;
          background-position: 0;
          transition: background 0.3s ease-in-out;
          line-height: 20px;
          text-transform: uppercase;
          font-size: 7px !important;
          font-weight: 700;
          border-radius: 0;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 16% !important;
        left: 4% !important;
        font-size: 75px !important;
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-next {
        position: absolute;
        top: 16% !important;
        right: 4% !important;
      }
      font-size: 75px !important;
    }
  }
}
@media screen and (max-width: 658px) {
  .home-slider {
    .item {
      .item-caption-second {
        h4 {
          position: absolute;
          font-weight: 700;
          letter-spacing: 0.4em;
          color: #777;
          margin-bottom: 0;
          margin-top: -3px;
          top: 26%;
          left: 14%;
          font-size: 10px !important;
          text-transform: capitalize;
          line-height: 1;
        }
        h1 {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 34%;
          left: 12%;
          font-size: 30px !important;
          text-transform: uppercase;
          line-height: 1;
        }
        .btn-solid {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 51%;
          left: 20% !important;
          text-transform: uppercase;
          line-height: 1;
          cursor: pointer;
          font-size: 7px !important;
          padding: 5px 14px !important;
          color: #fff;
          letter-spacing: 0.05em;
          border: 2px solid #ff4c3b;
          background-color: #ff4c3b;
          background-size: 850px;
          background-repeat: no-repeat;
          background-position: 0;
          transition: background 0.3s ease-in-out;
          line-height: 20px;
          text-transform: uppercase;
          font-weight: 700;
          border-radius: 0;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 14% !important;
        left: 3% !important;
        font-size: 70px !important;
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-next {
        position: absolute;
        top: 14% !important;
        right: 3% !important;
      }
      font-size: 70px !important;
    }
  }
}
@media screen and (max-width: 495px) {
  .home-slider {
    .item {
      .item-caption-second {
        h4 {
          position: absolute;
          font-weight: 700;
          letter-spacing: 0.4em;
          color: #777;
          margin-bottom: 0;
          margin-top: -3px;
          top: 26%;
          left: 14%;
          font-size: 9px !important;
          text-transform: capitalize;
          line-height: 1;
        }
        h1 {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 34%;
          left: 12%;
          font-size: 20px !important;
          text-transform: uppercase;
          line-height: 1;
        }
        .btn-solid {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 54% !important;
          left: 22% !important;
          text-transform: uppercase;
          line-height: 1;
          cursor: pointer;
          font-size: 5px !important;
          padding: 0px 6px !important;
          color: #fff;
          letter-spacing: 0.05em;
          border: 2px solid #ff4c3b;
          background-color: #ff4c3b;
          background-size: 850px;
          background-repeat: no-repeat;
          background-position: 0;
          transition: background 0.3s ease-in-out;
          line-height: 17px !important;
          text-transform: uppercase;
          font-weight: 700;
          border-radius: 0;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 12% !important;
        left: 3% !important;
        font-size: 60px !important;
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-next {
        position: absolute;
        top: 10% !important;
        right: 3% !important;
      }
      font-size: 60px !important;
    }
  }
}
@media screen and (max-width: 280px) {
  .home-slider {
    .item {
      .item-caption-second {
        h4 {
          position: absolute;
          font-weight: 700;
          letter-spacing: 0.4em;
          color: #777;
          margin-bottom: 0;
          margin-top: -3px;
          top: 26%;
          left: 14%;
          font-size: 7px !important;
          text-transform: capitalize;
          line-height: 1;
        }
        h1 {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 34%;
          left: 12%;
          font-size: 15px !important;
          text-transform: uppercase;
          line-height: 1;
        }
        .btn-solid {
          position: absolute;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
          top: 54% !important;
          left: 20% !important;
          text-transform: uppercase;
          line-height: 1;
          cursor: pointer;
          font-size: 5px !important;
          padding: 0px 3px !important;
          color: #fff;
          letter-spacing: 0.05em;
          border: 2px solid #ff4c3b;
          background-color: #ff4c3b;
          background-size: 850px;
          background-repeat: no-repeat;
          background-position: 0;
          transition: background 0.3s ease-in-out;
          line-height: 5px !important;
          text-transform: uppercase;
          font-weight: 700;
          border-radius: 0;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 7% !important;
        left: 2% !important;
        font-size: 40px !important;
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      .owl-next {
        position: absolute;
        top: 7% !important;
        right: 2% !important;
      }
      font-size: 40px !important;
    }
  }
}
@media screen and (max-width: 1367px) {
  .banner-time {
    background-position: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .banner-time {
    background-position: 100%;
    .banner-text {
      h2 {
        font-size: 28px !important;
      }
    }
    .timer-box {
      .timer {
        p {
          font-size: 15px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .banner-time {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    .banner-text {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      background-color: hsla(0, 0%, 100%, 0.65) !important;
      h2 {
        font-size: 15px !important;
      }
    }
    .timer-box {
      text-align: center !important;
      .timer {
        margin-top: 5px !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        padding-left: 20px !important;
        p {
          font-size: 14px !important;
          span {
            width: 55px !important;
            .timer-cal {
              text-align: left;
              padding-left: 3px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1199px) {
  .sidebar {
    display: none !important;
  }
  .toggle {
    display: none !important;
  }
}
@media screen and (max-width: 281px) {
  .sidebar {
    width: 280px !important;
  }
}
@media screen and (max-width: 1282px) {
  .tab-content {
    .tab-panel {
      .product-tab {
        .media {
          a {
            img {
              height: 160px !important;
              padding: 15px !important;
              object-fit: cover !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1122px) {
  .tab-content {
    .tab-panel {
      .product-tab {
        .tab-box {
          flex: 0 0 50% !important;
          max-width: calc(50% - 10px) !important;
          .media {
            a {
              img {
                height: 250px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .tab-content {
    .tab-panel {
      .product-tab {
        .tab-box {
          .media {
            a {
              img {
                height: 140px !important;
              }
            }
            .media-body {
              h4 {
                font-size: 17px !important;
              }
              .color-variant {
                li {
                  margin-top: 15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 585px) {
  .tab-content {
    .tab-panel {
      .product-tab {
        .tab-box {
          flex: 0 0 100% !important;
          max-width: calc(100% - 10px) !important;
          .media {
            a {
              img {
                height: 160px !important;
              }
            }
            .media-body {
              h4 {
                font-size: 16px !important;
              }
              .color-variant {
                li {
                  margin-top: 15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 352px) {
  .tab-content {
    .tab-panel {
      .product-tab {
        .tab-box {
          .media {
            a {
              img {
                height: 110px !important;
              }
            }
            .media-body {
              height: 112px !important;
              a {
                h6 {
                  margin-top: -15px !important;
                }
              }
              h4 {
                font-size: 14px !important;
              }
              .color-variant {
                li {
                  margin-top: 5px !important;
                  width: 15px !important;
                  height: 15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -355px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -290px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .trending-products-all {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -230px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -330px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 530px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -300px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 490px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -280px !important;
              padding: 8px 2px !important;
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 447px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -250px !important;
              padding: 8px 2px !important;
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 395px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -460px !important;
              padding: 12px 4px !important;
              font-size: 13px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 365px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -440px !important;
              padding: 12px 4px !important;
              font-size: 13px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .top-collection {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -420px !important;
              padding: 12px 4px !important;
              font-size: 13px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 545px) {
  .trending-products-all {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -260px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .trending-products-all {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -240px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 470px) {
  .trending-products-all {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -230px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 443px) {
  .trending-products-all {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -210px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .trending-products-all {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -370px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .trending-products-all {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -330px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .trending-products-all {
    .owl-trending {
      .item {
        .card {
          .label-block {
            .lable {
              top: -300px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .cart-reclam {
    padding-bottom: 20px !important;
    .collection-banner {
      .contain-banner {
        align-items: baseline !important;
        h4 {
          font-size: 18px !important;
        }
        h2 {
          font-size: 25px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .cart-reclam {
    padding-bottom: 20px !important;

    .collection-banner {
      .contain-banner {
        align-items: baseline !important;

        h4 {
          font-size: 11px !important;
        }
        h2 {
          font-size: 17px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .cart-reclam {
    padding-bottom: 20px !important;

    .collection-banner {
      .contain-banner {
        align-items: baseline !important;

        h4 {
          font-size: 18px !important;
        }
        h2 {
          font-size: 20px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 311px) {
  .cart-reclam {
    padding-bottom: 20px !important;
    .collection-banner {
      .contain-banner {
        align-items: baseline !important;

        h4 {
          font-size: 14px !important;
        }
        h2 {
          font-size: 16px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .special-products {
    .offer-slider {
      img {
        height: 270px !important;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .special-products {
    .offer-slider {
      img {
        height: 180px !important;
      }
      h4 {
        font-size: 16px !important;
      }
      h6 {
        font-size: 14px !important;
      }
    }
    .offer-slider-2 {
      .price-new {
        font-size: 16px !important;
        .price-old {
          font-size: 14px !important;
        }
        li {
          margin-top: 0px !important;
        }
      }
      h6 {
        line-height: 0.8;
      }
    }
  }
}
@media screen and (max-width: 463px) {
  .special-products {
    .special-row {
      display: flex !important;
      flex-direction: column !important;
      .theme-card {
        border-bottom: 0px !important;
      }
    }
    .offer-slider-2 {
      text-align: left !important;
      border-right: 0px !important;
      border-left: 0px !important;
      justify-content: flex-start !important;
      display: flex !important;
      padding-left: 10px !important;
      .image-wrapper {
        justify-content: center !important;
        align-items: flex-start !important;
        display: flex !important;
        flex-direction: row !important;

        .img-fluid {
          height: 150px !important;
        }
        .media-body {
          padding-left: 0px !important;
        }
      }
      .lable {
        display: none !important;
        top: 5px !important;
        left: -118px !important;
        padding: 8px 3px !important;
        font-size: 8px !important;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .service {
    .container {
      .row {
        .service-block {
          .media {
            padding-right: 0px !important;
            padding-left: 0px !important;

            i {
              margin-right: 0px !important;
              width: 40px !important;
              font-size: 31px !important;
              height: 33px !important;
            }
            .media-body {
              h4 {
                font-size: 13px !important;
                line-height: 1 !important;
              }
              p {
                font-size: 12px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .service {
    .container {
      .row {
        border-top: 1px solid #999;

        .service-block {
          .media {
            padding-right: 0px !important;
            padding-left: 0px !important;
            padding: 20px !important;
            border-bottom: 0px !important;
            border-top: 0px !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            i {
              margin-right: 25px !important;
              width: 40px !important;
              font-size: 60px !important;
              height: 33px !important;
              padding-bottom: 100px !important;
            }
            .media-body {
              h4 {
                font-size: 18px !important;
                line-height: 1 !important;
                text-align: center !important;
              }
              p {
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 302px) {
  .service {
    .container {
      .row {
        border-top: 1px solid #999;

        .service-block {
          .media {
            .media-body {
              h4 {
                font-size: 14px !important;
                line-height: 1 !important;
                text-align: center !important;
              }
              p {
                font-size: 12px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 135px !important;
        width: 73px !important;
      }
      .post-social{
        display: flex !important;
        flex-direction: column !important;
        padding-right: 30px !important;
        li{
          border-left: none !important;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .blog-page {
    .blog-detail {
      .post-social{
        display: flex !important;
        flex-direction: column !important;
        padding-right: 30px !important;
        li{
          border-left: none !important;
          text-align: center !important;
        }
      }
    }
  }
}
@media screen and (max-width: 556px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 205px !important;
        width: 73px !important;
      }
      
    }
  }
}
@media screen and (max-width: 520px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 187px !important;
        width: 73px !important;
      }
    }
  }
}
@media screen and (max-width: 490px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 170px !important;
        width: 73px !important;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 135px !important;
        width: 73px !important;
      }
    }
  }
}
@media screen and (max-width: 410px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 130px !important;
        width: 65px !important;
      }
    }
  }
}
@media screen and (max-width: 377px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 115px !important;
        width: 60px !important;
      }
    }
  }
}
@media screen and (max-width: 345px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 105px !important;
        width: 60px !important;
      }
    }
  }
}
@media screen and (max-width: 327px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 95px !important;
        width: 55px !important;
      }
    }
  }
}
@media screen and (max-width: 290px) {
  .owl-recent {
    .blog-details {
      .style-1 {
        margin-left: 85px !important;
        width: 50px !important;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .subscriber {
    .subscriber-content {
      padding-bottom: 20px !important;
      p {
        display: none !important;
      }
      h4 {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .subscriber {
    .form-group {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      input {
        margin-bottom: 15px !important;
      }
      button {
        width: 150px !important;
        padding: 5px 10px !important;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    .footer-title {
      h4 {
        font-size: 16px !important;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .footer {
    .col {
      padding-top: 20px !important;
      flex: 1 0 50% !important;
    }
  }
}
@media screen and (max-width: 767px) {
  .footer {
    .col {
      padding-top: 20px !important;
      flex: 1 0 100% !important;
      .footer-title {
        margin-top: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        position: relative;
        h4 {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .sub-footer {
    .footer-end {
      text-align: center !important;
    }
    .payment-card {
      justify-content: center !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .mobile {
    display: block !important;
  }
}
@media screen and (max-width: 1200px) {
  .special-products {
    .product-box {
      flex: 0 0 33.33% !important;
      max-width: calc(33.33% - 30px) !important;
      margin: 0 15px 30px !important;
      .lable {
        top: -345px !important;
      }
      .product-detail {
        text-align: center;
        .br {
          display: flex;
          justify-content: center;
          .br-unit {
            font-size: 30px !important;
          }
        }
        h6 {
          font-size: 25px;
        }
        h4 {
          font-size: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .special-products {
    .product-box {
      flex: 0 0 50% !important;
      max-width: calc(50% - 30px) !important;
      margin: 0 15px 30px !important;
      .lable {
        top: -395px !important;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .shop {
    .product-box {
      // flex: 0 0 33.33% !important;
      // max-width: calc(33.33% - 30px) !important;
      margin: 0 15px 30px !important;
      .lable {
        top: -345px !important;
      }
      .product-detail {
        text-align: center;
        .br {
          display: flex;
          justify-content: center;
          .br-unit {
            font-size: 30px !important;
          }
        }
        h6 {
          font-size: 25px;
        }
        h4 {
          font-size: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .shop {
    .product-box {
      flex: 0 0 100% !important;
      max-width: calc(100%) !important;
      margin: 0 15px 30px !important;
      .lable {
        top: -395px !important;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .filter-main-btn {
    display: block !important;
  }
  .collection-filter {
    position: fixed;
    height: 105vh;
    top: -15px;
    left: -15px;
    background-color: #fff;
    z-index: 0;
    overflow-y: scroll;
    padding: 15px 0 15px 15px;
    max-width: 350px;
    transition: all 0.5s ease;
    z-index: 999;
    .collection-mobile-back {
      display: block !important;
    }
  }
}
@media screen and (max-width: 769px) {
  .product-box {
    .lable {
      top: -280px !important;
      // padding: 8px 2px !important;
      // font-size: 10px !important;
    }
  }
  .banner-contain {
    h2 {
      font-size: 85px !important;
    }
    h3 {
      font-size: 50px !important;
    }
    h4 {
      font-size: 20px !important;
    }
  }
}
@media screen and (max-width: 530px) {
  .top-collection {
    .lable {
      top: -260px !important;
      // padding: 8px 2px !important;
      // font-size: 10px !important;
    }
  }
  // .banner-contain {
  //   h2 {
  //     font-size: 85px !important;
  //   }
  //   h3 {
  //     font-size: 50px !important;
  //   }
  //   h4 {
  //     font-size: 20px !important;
  //   }
  // }
}
@media screen and (max-width: 570px) {
  // .product-box {
  //   .lable {
  //     top: -280px !important;
  //     // padding: 8px 2px !important;
  //     // font-size: 10px !important;
  //   }
  // }
  .banner-contain {
    h2 {
      font-size: 65px !important;
    }
    h3 {
      font-size: 40px !important;
    }
    h4 {
      font-size: 15px !important;
    }
  }
}
@media screen and (max-width: 548px) {
  .product-box {
    .lable {
      top: -290px !important;
      padding: 10px 5px !important;
      font-size: 9px !important;
      width: 30px !important;
    }
  }
}
@media screen and (max-width: 540px) {
  .product-box {
    .lable {
      top: -270px !important;
      padding: 10px 5px !important;
      font-size: 9px !important;
      width: 30px !important;
    }
  }
}
@media screen and (max-width: 513px) {
  .product-box {
    .lable {
      top: -250px !important;
      padding: 10px 5px !important;
      font-size: 9px !important;
      width: 30px !important;
    }
  }
}
@media screen and (max-width: 484px) {
  .product-box {
    .lable {
      top: -230px !important;
      padding: 10px 5px !important;
      font-size: 9px !important;
      width: 30px !important;
    }
  }
}
@media screen and (max-width: 455px) {
  .product-box {
    .lable {
      top: -210px !important;
      padding: 8px 4px !important;
      font-size: 7px !important;
      width: 25px !important;
    }
  }
}
@media screen and (max-width: 420px) {
  .product-box {
    .lable {
      top: -190px !important;
    }
  }
}
@media screen and (max-width: 390px) {
  .product-box {
    .lable {
      top: -170px !important;
      padding: 7px 3px !important;
      font-size: 6px !important;
    }
  }
}
@media screen and (max-width: 361px) {
  .product-box {
    .lable {
      top: -155px !important;
    }
  }
}
@media screen and (max-width: 380px) {
  // .product-box {
  //   .lable {
  //     top: -280px !important;
  //     // padding: 8px 2px !important;
  //     // font-size: 10px !important;
  //   }
  // }
  .banner-contain {
    h2 {
      font-size: 55px !important;
    }
    h3 {
      font-size: 30px !important;
    }
    h4 {
      font-size: 10px !important;
    }
  }
}
@media screen and (max-width: 991px) {
  .product-right {
    border: none !important;
    .product-title {
      text-align: center !important;
    }
    .product-icon {
      justify-content: center !important;
    }
    .single-product-tables {
      justify-content: center !important;
    }
    .border-product {
      text-align: center !important;
    }
    h2 {
      text-align: center !important;
    }
  }
}
@media screen and (max-width: 768px) {
  iframe {
    width: 100% !important;
  }
  .col-md-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .col-md-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .form-label {
    button {
      width: auto !important;
    }
  }
}
@media screen and (max-width: 1200px) {
  .blog-right {
    padding-top: 20px !important;
    a {
      text-align: center !important;
    }
    p {
      text-align: center !important;
    }
  }
}
@media screen and (max-width: 435px) {
  .post-social {
    display: flex !important;
    flex-direction: column !important;
    padding-right: 30px;
    li {
      border: none !important;
    }
  }
}
@media screen and (max-width: 481px) {
  .owl-testimonial {
    .media {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      .media-body {
        padding: 0px !important;
        text-align: center !important;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  iframe {
    height: 350px !important;
  }
  .contact-right {
    li {
      padding-left: 0 !important;
      border-bottom: 1px solid #ddd !important;
      text-align: center !important;
      padding-bottom: 10px !important;
      padding-top: 10px !important;
      .contact-icon {
        position: relative !important ;
        margin: 0 auto !important;
        border-right: 0 !important;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .right-login {
    padding-top: 30px !important;
  }
}
@media screen and (max-width: 576px) {
  .page-title {
    justify-content: center !important;
  }
  ol {
    justify-content: center !important;
  }
}
@media screen and (max-width: 483px) {
  .blog-detail {
    h3 {
      font-size: 18px !important;
    }
  }
  .comment-section {
    .media {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      img {
        margin-right: 0 !important;
      }
      h6 {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
      }
      p {
        text-align: center !important;
      }
    }
  }
  .blog-contact {
    h2 {
      font-size: 24px !important;
    }
  }
}
@media screen and (max-width: 767px) {
  .parallax-wrapper {
    object-fit: cover !important;
  }
}

//***Cart Box ***//
@media screen and (max-width: 1200px) {
  .top-collection {
    .cart-box {
      width: 200px !important;
      bottom: 100px !important;
      right: 10px !important;
    }
    .cart-1 {
      width: 200px !important;
      bottom: 100px !important;
      right: 10px !important;
    }
  }
}
@media screen and (max-width: 1025px) {
  .top-collection {
    .cart-box {
      width: 200px !important;
      bottom: 100px !important;
      right: 50px !important;
    }
    .cart-1 {
      width: 200px !important;
      bottom: 100px !important;
      right: 50px !important;
    }
  }
}
@media screen and (max-width: 991px) {
  .top-collection {
    .cart-box {
      width: 150px !important;
      bottom: 100px !important;
      right: 30px !important;
    }
  }
}
@media screen and (max-width: 991px) {
  .special-products {
    .cart-box {
      right: 35px !important;
    }
  }
}
@media screen and (max-width: 770px) {
  .top-collection {
    .cart-box {
      width: 200px !important;
      bottom: 100px !important;
      right: 70px !important;
    }
  }
}
@media screen and (max-width: 770px) {
  .special-products {
    .cart-box {
      right: 35px !important;
    }
  }
}
@media screen and (max-width: 769px) {
  .top-collection {
    .cart-box {
      width: 200px !important;
      bottom: 100px !important;
      right: 60px !important;
    }
    .cart-1 {
      width: 200px !important;
      bottom: 100px !important;
      right: 60px !important;
    }
  }
}
@media screen and (max-width: 541px) {
  .top-collection {
    .cart-box {
      width: 150px !important;
      bottom: 100px !important;
      right: 40px !important;
      display: block !important;
    }
  }
}
@media screen and (max-width: 415px) {
  .top-collection {
    .cart-box {
      width: 150px !important;
      bottom: 100px !important;
      right: 5px !important;
      display: block !important;
    }
    .cart-1 {
      width: 150px !important;
      bottom: 100px !important;
      right: 5px !important;
      display: block !important;
    }
  }
}
@media screen and (max-width: 412px) {
  .top-collection {
    .cart-box {
      width: 150px !important;
      bottom: 100px !important;
      right: 10px !important;
      display: block !important;
    }
    .cart-1 {
      width: 150px !important;
      bottom: 100px !important;
      right: 5px !important;
      display: block !important;
    }
  }
}
@media screen and (max-width: 376px) {
  .top-collection {
    .cart-box {
      width: 200px !important;
      bottom: 120px !important;
      right: 60px !important;
      display: block !important;
      a{
        padding: 6px 30px !important;
      }
    }
    .cart-1 {
      width: 200px !important;
      bottom: 120px !important;
      right: 65px !important;
      display: block !important;
    }
  }
}
@media screen and (max-width: 361px) {
  .top-collection {
    .cart-box {
      width: 200px !important;
      bottom: 100px !important;
      right: 57px !important;
      display: block !important;
    }
    .cart-1 {
      width: 200px !important;
      bottom: 100px !important;
      right: 57px !important;
      display: block !important;
    }
  }
}
@media screen and (max-width: 321px) {
  .top-collection {
    .cart-box {
      width: 200px !important;
      bottom: 100px !important;
      right: 35px !important;
      display: block !important;
    }
    .cart-1 {
      width: 200px !important;
      bottom: 100px !important;
      right: 35px !important;
      display: block !important;
    }
  }
}
@media screen and (max-width: 281px) {
  .top-collection {
    .cart-box {
      width: 200px !important;
      bottom: 100px !important;
      right: 17px !important;
      display: block !important;

    }
  }
}
@media screen and (max-width: 769px) {
  .special-products {
    .cart-box {
      right: 170px !important;
      width: 79px !important;
      padding: 0px !important;
    }
  }
}
@media screen and (max-width: 541px) {
  .special-products {
    .cart-box {
      padding: 0px !important;
      right: 120px !important;
      display: block !important;
      width: 300px !important;
    }
  }
}
@media screen and (max-width: 415px) {
  .special-products {
    .cart-box {
      right: -10px !important;
      padding: 0px !important;
      display: block !important;
      width: 130px !important;
      a {
        padding: 5px !important;
      }
    }
  }
}
@media screen and (max-width: 412px) {
  .special-products {
    .cart-box {
      right:  15px !important;
      padding: 0px !important;
      display: block !important;
      width: 100px !important;
      a {
        padding: 5px !important;
        font-size: 12px !important;
      }
    }
  }
}
@media screen and (max-width: 376px) {
  .special-products {
    .cart-box {
      right: 15px !important;
      padding: 0px !important;
      width: 90px !important;
      a {
        padding: 5px !important;
      }
    }
    .media-body{
      h6{
        font-size: 12px !important;
      }
    }
  }
}
@media screen and (max-width: 361px) {
  .special-products {
    .cart-box {
      right: 0px !important;
      padding: 0px !important;
      display: block !important;
      width: 100px !important;
    }
  }
}
@media screen and (max-width: 320px) {
  .special-products {
    .cart-box {
      right: 0px !important;
      bottom: 120px !important;
      padding: 0px !important;
      width: 85px !important;
      a {
        padding: 0px !important;
        font-size: 12px !important;
      }
    }
  }
}
@media screen and (max-width: 281px) {
  .special-products {
    .cart-box {
      right: 0px !important;
      bottom: 80px !important;
      padding: 0px !important;
      a {
        width: 90px !important;
        padding: 0px !important;
        font-size: 12px !important;
      }
    }
    .media-body{
      .price-new{
        font-size: 12px !important;
        span{
          font-size: 10px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .shop{
    .cart-box{
      padding: 0px 40px !important;
      width: 300px !important;
      right: -123px !important;
    }
  }
}
@media screen and (max-width: 991px){
  .shop{
    .cart-box{
      padding: 0px 40px !important;
      width: 400px !important;
      right: 65px !important;
      a{
        padding: 12px 70px !important;
      }
    }
  }
}
@media screen and (max-width: 770px){
  .shop{
    .cart-box{
      display: block !important;
      right: -20px !important;
    }
  }
}
@media screen and (max-width: 769px){
  .shop{
    .cart-box{
      right: 75px !important;
    }
  }
}
@media screen and (max-width: 541px){
  .shop{
    .cart-box{
      right: -20px !important;
    }
  }
}
@media screen and (max-width: 415px){
  .shop{
    .cart-box{
      right: -73px !important;
    }
  }
}
@media screen and (max-width: 412px){
  .shop{
    .cart-box{
      right: -73px !important;
    }
  }
}
@media screen and (max-width: 376px){
  .shop{
    .cart-box{
      right: -90px !important;
    }
  }
}
@media screen and (max-width: 361px){
  .shop{
    .cart-box{
      display: block !important;
      right: -95px !important;
    }
  }
}
@media screen and (max-width: 321px){
  .shop{
    .cart-box{
      display: block !important;
      right: -115px !important;
    }
  }
}
@media screen and (max-width: 281px){
  .shop{
    .cart-box{
      display: block !important;
      right: -175px !important;
      a{
        padding: 10px 30px !important;
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .products{
    .qty-box{
      .container{
        width: 63% !important;
      }
    }
    .product-buttons{
      padding-left: 20px !important;
      .btn-solid{
        margin-bottom: 10px !important;
      }
    }
  }
}
@media screen and (max-width: 321px){
  .products{
    .nav{
      display: flex !important;
      flex-direction: column !important;
    }
  }
}
@media screen and (max-width: 281px){
  .products{
    .qty-box{
      .container{
        width: 72% !important;
      }
    }
    .product-icon{
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }
  
}